@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700,900');
* {
    @import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700,900');
    background-color: black;
    margin: 0;
}

.banner-image {
    height: 90rem;
    background-image: url(/images/bannersquare.jpeg);
    background-size: cover;
    opacity: 0.18;
    min-height: 20px;

}




.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
    height: 60rem;
    font-family: 'Poppins', sans-serif;
    
}

h1 {
    font-size: 3rem;
    
}

.texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
    padding-right: 29rem;
}
h2 {
    font-size: 8rem;
}
h3 {
    font-size: 5rem;
    padding-left: 6rem;
}

a { 
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* .btn {
    
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    user-select: none;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
    background: transparent;
    border: .2em solid;
    padding:1em 2em;
    border-color: white;
    border-style: solid;
    
} */ 
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color: blueviolet;
}
